body{
  font-family: Arial;
  font-weight: bold;
  background-color: #FFEBEE;
  margin: 0;
  font-family: serrat;
}
@font-face{
	font-family: zilla;
	src: url("../fonts/Zilla_Slab/ZillaSlab-Regular.ttf");
}

@font-face{
	font-family: serrat;
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
h1,h2,h3{
	font-family: zilla;
}
.map{
  display: none;
}

.popups>article{
  display: none;
}
.popups>article:target{
  display: block;
}
.popups{
  background-color: #FFEBEE;
  z-index: 3;
  position: absolute;
}
header>h1{
  text-align: center;
  margin: 0px;
  color: #FFEBEE;
}

header{
  background-color: #EF5350;
  margin: -3% -3% 0 -3%;
  padding: 10px 0px 5px 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 9px;
  left: 3%;
}

.mobile{
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
  display: block;
  text-align: center;
  position: absolute;
}
ul.mobile{
  top: 40px;
  display: block;
  width: 100%;
    z-index: 1;
}

.mobile>li{
  padding-bottom: 8px;
}

.mobile>li>a{
  text-decoration: none;
  color: black;
  width: 80%;
  padding: 5px 20px 5px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px 5px 3.75px rgba(0, 20, 17, 0.2);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 20, 17, 0.2);

}
article{
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
article a{
  z-index: 4;
  position: fixed;
  bottom: 20px;
  right: 5%;
  font-size: 40px;
  color: white;
  text-decoration: none;
  transform: rotate(45deg);
  background-color: rgba(255, 0, 0, 0.8);
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  line-height: 50px;
  text-align: center;
  box-shadow: 3px 3px 0.5px rgba(0, 20, 17, 0.2);

}
article>a::before{
  content: "+";
}
article h2{
  text-align: center;
  margin-top: 0px;
  font-size: 40px;
}
.dish{
  background-color: white;
  text-align: justify;
  padding: 5px 20px 10px 20px;
  margin-bottom: 7px;
  border-radius: 10px;
  box-shadow: 3px 3px 0.5px rgba(0, 20, 17, 0.2);
}
.recipe{
  background-color: white;
  width: 80%;
  position: static;
}
.recipe ul{
  padding-left: 15px;
}
.recipe ol{
  padding-left: 15px;
}
.recipe li{
  font-weight: normal;
  padding-bottom: 7px;
  line-height: 18px;
}
.dish p{
  font-weight: normal;
}
figure{
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure img{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  padding-bottom: 3px;
}
#liara{
  border-bottom: 2px solid #1A90CD;
  border-top: 2px solid #1A90CD;
}
#libfc{
  border-bottom: 2px solid #FFD600;
  border-top: 2px solid black;
}
#libre{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#licvl{
  border-bottom: 2px solid #8FD4F6;
  border-top: 2px solid #29235C;
}
#ligre{
  border-bottom: 2px solid #F6D301;
  border-top: 2px solid #0069A4;
}
#lihdf{
  border-bottom: 2px solid #004FA4;
  border-top: 2px solid #8EC73D;
}
#liidf{
  border-bottom: 2px solid #EE2722;
  border-top: 2px solid #EE2722;
}
#linaq{
  border-bottom: 2px solid #fb8c00;
  border-top: 2px solid #80deea;
}
#lindi{
  border-bottom: 2px solid #fb8c00;
  border-top: 2px solid #80deea;
}
#liocc{
  border-bottom: 2px solid #fb8c00;
  border-top: 2px solid #80deea;
}
#lipac{
  border-bottom: 2px solid #fb8c00;
  border-top: 2px solid #80deea;
}
#liplo{
  border-bottom: 2px solid #fb8c00;
  border-top: 2px solid #80deea;
}
