.mobile {
  display: none;
}

body {
  font-family: Arial;
  background-color: #FFEBEE;
  margin: 0px;
}

div.map {
  /*width: 100%;*/
  margin: auto;
}

div.map>a>svg>path {
  fill: #EF5350;
  transition: fill 0.5s;
}

div.map>a>svg>path:hover {
  fill: #D32F2F;
}

div.map>a>svg {
  position: fixed;
  margin-left: calc(50vw - (739px/2));
  margin-top: calc(50vh - (751px/2));
  z-index: 1;
}

.backcircle {
  background-color: white;
  width: 751px;
  display: block;
  height: 751px;
  border-radius: 1110px;
  left: calc(50vw - (751px/2));
  top: calc(50vh - (751px/2));
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
}

svg.hdf {
  top: 0px;
  left: 357px;
  width: 150px;
}

svg.idf {
  top: 164px;
  left: 357px;
  width: 113px;
}

svg.gre {
  top: 97px;
  left: 468px;
  width: 269px;
}

svg.ndi {
  top: 90px;
  left: 170px;
  width: 200px;
}

svg.plo {
  top: 222px;
  left: 125px;
  width: 192px;
}

svg.bfc {
  top: 238px;
  left: 448px;
  width: 239px;
}

svg.cvl {
  top: 187px;
  left: 273px;
  width: 174px;
}

svg.ara {
  top: 372px;
  left: 394px;
  width: 302px;
}

svg.naq {
  top: 340px;
  left: 157px;
  width: 260px;
}

svg.bre {
  top: 185px;
  left: 0px;
  width: 205px;
}

svg.occ {
  top: 530px;
  left: 246px;
  width: 310px;
}

svg.pac {
  top: 520px;
  left: 539px;
  width: 200px;
}

.popups {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.popups>article {
  display: none;
}

.popups>article:target {
  position: static;
  display: block;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  width: 90vw;
  max-width: 1200px;
  height: 60vh;
  border-radius: 20px;
  box-shadow: 7.5px 7.5px 5px rgba(0, 20, 17, 0.2);
}

.popups>article>h2 {
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 58px;
  position: relative;
  z-index: 6;
  color: white;
}

#ara>h2 {
  background-color: blue;
}

#ara>.content {
  border-top: 5px solid red;
}

#bfc>h2 {
  background-color: blue;
}

#bfc>.content {
  border-top: 5px solid red;
}

#bre>h2 {
  background-color: blue;
}

#bre>.content {
  border-top: 5px solid red;
}

#cvl>h2 {
  background-color: blue;
}

#cvl>.content {
  border-top: 5px solid red;
}

#gre>h2 {
  background-color: blue;
}

#gre>.content {
  border-top: 5px solid red;
}

#hdf>h2 {
  background-color: blue;
}

#hdf>.content {
  border-top: 5px solid red;
}

#idf>h2 {
  background-color: blue;
}

#idf>.content {
  border-top: 5px solid red;
}

#naq>h2 {
  background-color: blue;
}

#naq>.content {
  border-top: 5px solid red;
}

#ndi>h2 {
  background-color: blue;
}

#ndi>.content {
  border-top: 5px solid red;
}

#occ>h2 {
  background-color: blue;
}

#occ>.content {
  border-top: 5px solid red;
}

#pac>h2 {
  background-color: blue;
}

#pac>.content {
  border-top: 5px solid red;
}

#plo>h2 {
  background-color: blue;
}

#plo>.content {
  border-top: 5px solid red;
}

img {
  width: 400px;
}

a.back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 4;
  overflow: hidden;
  background-color: rgba(0, 9, 7, 0.7);
}

.content {
  z-index: 5;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 22px;
  background-color: rgba(255, 255, 255, 0.9);
}

.content>p {
  text-align: justify;
}
