@font-face{
	font-family: zilla;
	src: url("../fonts/Zilla_Slab/ZillaSlab-Regular.ttf");
}

@font-face{
	font-family: serrat;
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

.mobile {
  display: none;
}

body {
  background-color: #FFEBEE;
  margin: 0;
	font-family: serrat;
}

div.map {
  position: absolute;
}

div.map>svg>a>path {
  fill: #EF5350;
  transition: fill .5s;
}

div.map>svg>a>path:hover {
  fill: #D32F2F;
}

div.map>svg {
  position: absolute;
  margin-left: calc(50vw - (739px/2));
  z-index: 1;
}

.gap{
	height: calc(50vh - (751px/2));
	min-height: 55px;
}

.backcircle {
  background-color: #fff;
  width: 751px;
  display: block;
  height: 751px;
  border-radius: 1110px;
  left: calc(50vw - (751px/2));
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
}

svg.hdf {
  top: 0;
  left: 357px;
  width: 150px;
}

svg.idf {
  top: 164px;
  left: 357px;
  width: 113px;
}

svg.gre {
  top: 97px;
  left: 468px;
  width: 269px;
}

svg.ndi {
  top: 90px;
  left: 170px;
  width: 200px;
}

svg.plo {
  top: 222px;
  left: 125px;
  width: 192px;
}

svg.bfc {
  top: 238px;
  left: 448px;
  width: 239px;
}

svg.cvl {
  top: 187px;
  left: 273px;
  width: 174px;
}

svg.ara {
  top: 372px;
  left: 394px;
  width: 302px;
}

svg.naq {
  top: 340px;
  left: 157px;
  width: 260px;
}

svg.bre {
  top: 185px;
  left: 0;
  width: 205px;
}

svg.occ {
  top: 530px;
  left: 246px;
  width: 310px;
}

svg.pac {
  top: 520px;
  left: 539px;
  width: 200px;
}

.popups {
  position: fixed;
	top:0;
  width: 100%;
  z-index: 2;
}

.popups>article {
  display: none;
}

.popups>article:target {
  position: static;
  display: block;
  overflow-y: hidden;
  width: 90vw;
  max-width: 1200px;
  height: 80vh;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  box-shadow: 7.5px 7.5px 5px rgba(0, 20, 17, 0.2);
  margin: 10vh auto;
}

.popups>article>h2 {
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 58px;
  position: relative;
  z-index: 6;
  color: #fff;
}

#ara>h2 {
  background-color: #1A90CD;
}

#ara>.content {
  border-top: 5px solid #fff;
}

#bfc>h2 {
  background-color: black;
}

#bfc>.content {
  border-top: 5px solid #FFD600;
}

#bre>h2 {
  background-color: black;
}

#bre>.content {
  border-top: 5px solid white;
}

#cvl>h2 {
  background-color: #29235C;
}

#cvl>.content {
  border-top: 5px solid #8FD4F6;
}

#gre>h2 {
  background-color: #0069A4;
}

#gre>.content {
  border-top: 5px solid #F6D301;
}

#hdf>h2 {
  background-color: #8EC73D;
}

#hdf>.content {
  border-top: 5px solid #004FA4;
}

#idf>h2 {
  background-color: #EE2722;
}

#idf>.content {
  border-top: 5px solid white;
}

#naq>h2 {
  background-color: #80deea;
}

#naq>.content {
  border-top: 5px solid #fb8c00;
}

#ndi>h2 {
  background-color: #80deea;
}

#ndi>.content {
  border-top: 5px solid #fb8c00;
}

#occ>h2 {
  background-color: #80deea;
}

#occ>.content {
  border-top: 5px solid #fb8c00;
}

#pac>h2 {
  background-color: #80deea;
}

#pac>.content {
  border-top: 5px solid #fb8c00;
}

#plo>h2 {
  background-color: #80deea;
}

#plo>.content {
  border-top: 5px solid #fb8c00;
}

img {
  width: 400px;
}

a.back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 4;
  overflow: hidden;
  background-color: rgba(0, 9, 7, 0.7);
}

.content {
  z-index: 5;
  position: relative;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2) inset;
  overflow-y: scroll;
  max-height: calc(80vh - 107px);
  padding: 22px 15px;
}

.dish>figure {
  text-align: center;
	width: 50%;
	margin: auto;
}

.dish img{
	border-radius: 30px;
	width: 100%;
	filter: saturate(60%);
	transition: filter 0.5s, border-radius 0.5s;
}

.dish img:hover{
	border-radius: 10px;
	filter: none;
}

figcaption{
	font-size: 0.6em;
	font-style: italic;
	text-align: right;
}

.dish {
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 2px 25px;
}

.recipe h4{
	font-weight: bold;
}

h1,h2,h3{
	font-family: zilla;
	font-size: 1.5em;
	margin-bottom: 12px;
	margin-top: 12px;
	text-align: center;
	font-weight: bold;
}

header{
	display: block;
	font-family: zilla;
	color: white;
	background-color: #EF5350;
	position: absolute;
	width: 100%;
	font-weight: bold;
	text-align: left;
	height: 55px;
}

header>h1::after{
	content:" régionales françaises"
}
